service: myservice
provider:
  name: aws
  ecr:
    images:
      myimage:
        path: ./
functions:
  get_sentiment:
    image:
      name: myimage
    timeout: 300
    memorySize: 512
    provisionedConcurrency: 3
    reservedConcurrency: 5
    events:
      - http:
          path: qa # http path
          method: post # http method
